{% extends 'base.html' %}

{% block title %}Search{% endblock title %}

{% block content %}
    <div class="search-result-header">
        <h1>Search Results</h1>
        <p class="amount-of-results">500 results</p>
    </div>
    <div class="search-result-container">
        <div class="search-result-item">
            <h2>hello</h2>
        </div>
        <div class="search-result-item">
            <h2>hello</h2>
        </div>
        <div class="search-result-item">
            <h2>hello</h2>
        </div>
    </div>
{% endblock content %}
