<div class="search-result-item">
    <div class="search-result-stats">
        <div class="stats-box vote-stats">
            <b>{{ question.score }}</b>
            <div>Votes</div>
        </div>
        <div class="stats-box answer-stats">
            <b>{{ question.answer_count }}</b>
            <div>Answers</div>
        </div>
    </div>
    <div class="search-result-content">
        <h3><a href="{% url 'questions:question' question.id %}">Q: {{ question.title }}</a></h3>
        {{ question.body | truncatewords_html:50 | safe }}
        <div class="date">Asked {{ question.creation_date }}</div>
    </div>
</div>
