{% extends 'base.html' %}

{% block title %}Question{% endblock title %}

{% block content %}
    <div class="question-container">
        {% for post in posts %}
            <!-- First iteration is always the question -->
            {% if forloop.first %}
                <h1>{{ post.title }}</h1>
            {% endif %}
            <div class="post-container">
                <div class="post-votes-container">
                    Votes
                </div>
                <div class="post-comment-container">
                    <div class="post-text">
                        {{ post.body | safe }}
                    </div>
                    <div class="post-comments">
                        {% for comment in comments %}
                            {% if post.id == comment.post_id %}
                                <div style="margin-top: 10px;color:green;">{{ comment.text | safe }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
