<div class="search-result-item">
    <div class="search-result-stats">
        <div class="stats-box vote-stats">
            <b>{{ question.votes }}</b>
            <div>Votes</div>
        </div>
        <div class="stats-box answer-stats">
            <b>{{ question.answers }}</b>
            <div>Answers</div>
        </div>
    </div>
    <div class="search-result-content">
        <h3><a href="/">Q: {{ question.title }}</a></h3>
        <p>{{ question.body }}</p>
        <div class="date">Asked {{ question.date }}</div>
    </div>
</div>
