* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
    overflow-y: scroll;
    font-size: 14px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, sans-serif;
    color: #333;
}

h1 {
    font-weight: 380;
    font-size: 1.9em;
}

h2 {
    font-weight: 340;
    font-size: 1.75em;
}

h3 {
    font-weight: 300;
    font-size: 1.6em;
}

p {
    font-weight: 250;
    font-size: 1.2em;
}

a {
    color: #07E;
    text-decoration: none;
}

a:visited {
    color: #005980;
}

a:hover {
    color: #258bd4;
}

.container {
    width: 55%;
    margin: 0 auto;
}

#nav {
    background-color: #FAFAFA;
    border-top: solid 3px #F48022;
    height: 45px;
    box-shadow: 0 1px 0 rgba(11,14,13,0.1), 0 1px 6px rgba(55,68,62,0.1);
}

#nav > .container {
    display: flex;
}

#nav-logo {
    font-size: 2em;
    font-weight: 320;
    margin: 6px 6px;
    text-decoration: none;
    color: #333;
}

#search {
    display: flex;
    flex: 1;
    margin: 8px 6px;
}

#search-icon {
    display: flex;
    padding: 0px 10px;
    border-radius: 0 3px 3px 0;
    fill: white;
    cursor: pointer;
    background-color: #F48022;
}

#search-box {
    width: 100%;
    padding: 2px 8px;
    outline: 0;
    border: 1px solid #CCC;
    border-radius: 3px 0 0 3px;
}

.search-result-header {
    margin-top: 15px;
    padding: 0 6px;
}

.amount-of-results {
    margin-top: 10px;
}

.search-result-container {
    background: white;
    border-top: #D6D9DB solid 1px;
    padding: 10px;
    margin-top: 8px;
}

.search-result-item:not(:last-child) {
    border-bottom: #EFF0F0 solid 1px;
}

.search-result-item {
    display: flex;
    padding: 10px;
}

.search-result-stats {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    height: 130px;
}

.stats-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 15px;
    color: white;
    font-size: 10px;
}

.stats-box > b {
    font-size: 1.8em;
}

.stats-box > div {
    font-size: 1em;
}

.vote-stats {
    border-radius: 8px 8px 0 0;
    background-color: #007bff;
}

.answer-stats {
    border-radius: 0 0 8px 8px;
    background-color: #28a745;
}

.search-result-content {
    flex: 1;
}

@media screen and (max-width: 1500px) {
    .container {
        width: 65%;
    }
}

@media screen and (max-width: 1300px) {
    .container {
        width: 75%;
    }
}

@media screen and (max-width: 1100px) {
    .container {
        width: 85%;
    }
}

@media screen and (max-width: 900px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .search-result-item {
        flex-direction: column;
    }

    .search-result-stats {
        height: initial;
        margin-right: initial;
        flex-direction: row;
    }

    .stats-box {
        display: block;
        flex: initial;
        padding: 3px 15px;
    }

    .vote-stats {
        border-radius: 0;
    }

    .answer-stats {
        border-radius: 0;
    }

    .stats-box > b {
        font-size: 1.2em;
    }

    .stats-box > div {
        display: inline-block;
        font-size: 1.2em;
    }
}
