doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        block title
            title #{title ? title : 'Default title!'}
        link(rel='stylesheet', href='/stylesheets/fonts.css')
        link(rel='stylesheet', href='/stylesheets/main.css')
    body
    header#nav
        .container
            a(href="/" id="nav-logo") Stack Overflow
            span#search
                input(type="text" name="search" id="search-box" placeholder="Search amongst 0 questions")
                span#search-icon
                    img(src="images/search.svg", alt="search icon")
    main
        .container
            block content
