extends base

block title
    - var title = 'Most recent questions'

block content
    .search-result-header
        h1= title
    .search-result-container
        each question, i in questions
            include ./includes/post-preview.pug

