extends base

block title
    title= 'Most recent questions'

block content
    .search-result-header
        h1= 'Most recent questions'
    .search-result-container
        each question, i in questions
            include ./includes/post-preview.pug
