.search-result-header
    h1 Search results for '#{search}'
    p.amount-of-results #{amount_of_results} result(s)
.search-result-container
    each question in questions
        include ./includes/post-preview
