<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Default title!{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header id="nav">
        <div class="container">
            <a href="{% url 'questions:index' %}" id="nav-logo">Stack Overflow</a>
            <span id="search">
                <input type="text" name="search" id="search-box" placeholder="Search amongst {{ context_post_count }} posts">
                <span id="search-icon">
                    <img src="{% static 'images/search.svg' %}" alt="search icon">
                </span>
            </span>
        </div>
    </header>
    <main>
        <div id="main-container" class="container">
            {% block content %}{% endblock content %}
        </div>
    </main>
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
</body>
</html>
